<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.bozuko.bozuko"
      android:versionCode="5"
      android:versionName="1.2.1" android:installLocation="auto">
    <application android:icon="@drawable/launcher" android:label="@string/app_name" android:name="BozukoApplication">
        <activity android:name="StartupActivity" android:configChanges="orientation|keyboardHidden"
                  android:label="@string/app_name" android:theme="@style/customTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

	<!-- Games -->
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="MainBozukoActivity" android:theme="@style/customTheme"  android:windowSoftInputMode="stateHidden|adjustPan"/>
	
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="TabController" android:theme="@style/customTheme"  android:windowSoftInputMode="stateHidden|adjustPan"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="GamesTabController" android:theme="@style/customTheme"  android:windowSoftInputMode="stateHidden|adjustResize"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="NearByGamesBozukoActivity" android:theme="@style/customTheme"  android:windowSoftInputMode="stateHidden|adjustResize"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="GamesMapController" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="FavoriteGamesBozukoActivity" android:theme="@style/customTheme"  android:windowSoftInputMode="stateHidden|adjustResize"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="PageBozukoActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="MapItMapActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="GameEntryBozukoActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="ScratchGameBozukoActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="SlotsGameBozukoActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="OfficialBozukoActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="PrizeListBozukoActivity" android:theme="@style/customTheme"/>
	
	<!-- Prizes -->
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="PrizesBozukoActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="PrizeBozukoActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="PrizeRedeemBozukoActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="PrizeDetailBozukoActivity" android:theme="@style/customTheme"/>
			
	<!-- Settings -->
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="SettingsBozukoActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="InAppWebViewControllerActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="SocialMediaWebViewActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="AboutBozukoActivity" android:theme="@style/customTheme"/>
	<activity android:label="@string/app_name" android:configChanges="orientation|keyboardHidden"
			android:name="FeedbackBozukoActivity" android:theme="@style/customTheme" android:windowSoftInputMode="stateVisible"/>

	 <uses-library android:name="com.google.android.maps" />
    </application>
   
    <uses-sdk android:minSdkVersion="7" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.GET_TASKS"/>
	
</manifest>